img{
    width: 100%;
}
.buy-now-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
   

.container{
    margin-bottom: 150px;
    
}
    
.bg-color{
    background-color: #F0F0F0;
    border-radius: 10px;
}
.margin{
    margin-left: 30px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-text{
    text-align: center;
}
.phone-name{
    text-align: center;
}
.smartphone img{
    
    margin: 20px;
    width: 80%;
    
}
.price{
    text-align: center;
}
.see-all{
    text-align: right;
}
.org-clr{
    color: orange;
}
.laptop image{
    margin: 20px;
    width: 80%;
}
.bottom h1{
    text-align: center;
    margin-bottom: 50px;
}
.bottom img{
    width: 80%;
}

